<nav class="navbar navbar-default" ng-controller="ToolbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Pixeon Chat</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#login"><i class="fa fa fa-sign-in"></i> Login</a></li>
      <li><a href="#main"><i class="fa fa-home"></i> Main</a>
      <li><a href="#logout"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
  </div>
</nav>
