<div id="loginbox" class="mainbox">
  <div class="div-center">
    <a class="btn btn-block btn-social btn-google">
      <span class="fa fa-google"></span>
      Sign in with Google
    </a>
  </div>
</div>
