/* Space out content a bit */

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;

  }
}

.gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 700px;
  height: 250px;
}

.btn-google {
  width: 200px;
}
.div-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
